// Created by young on 2/14/14.
div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            div.navbar-header
                div.brand
                     p #{title}
                div.btn.btn-navbar.navbar-toggle(data-toggle="collapse", data-target=".navbar-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

            div.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active
                        a(href="/") Home
                    li
                        a(href="/userlist") User List
                    li
                        a(href="/newuser") Add New User
                    li
                        a(href="#contact") Contact


